<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Project Page</title>
     {{> head}}
</head>

<body>
    {{> header}}

    <p>Welcome to projects page</p>

    {{> footer}}
</body>

</html>